* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    /* font-family: Arial, sans-serif; */
    font-family: 'Karla', sans-serif;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .input-group {
    margin-bottom: 15px;
  }

  .ttt{
    padding-bottom: 30px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="number"],
  select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
  }
  
  .error-icon {
    display: none;
    float: right;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
  }
  
  .buttone {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 7px 7px;
    cursor: pointer;
    width: 100%;
  }
  
  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 10px;
    border: 2px solid #007bff;
    width: 80%;
    max-width: 500px;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
  
  .close-modal {
    /* position: absolute; */
    top: 100px;
    right: 100px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    width: 30%;
  }
  
  .close-modal:hover {
    background-color: #0056b3;
  }
  
  
  .close {
    color: #007bff;
    float: right;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: #0056b3;
    text-decoration: none;
    cursor: pointer;
  }

  .ext {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .question-mark {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
  }
  
  .question-mark:hover {
    color: #555;
  }

  .bol {
    font-weight: bold;
  }

 
